.h__primary_hero {

    height: 100vh;
    @apply bg-cover;
    @apply bg-center;
    @apply bg-no-repeat;

    .__wrap {



    }

}

.h__secondary_hero {

    height: 75vh;

}

.h__small_hero {

    height: 50vh;
    
}