.h__primary_hero {

    height: 100vh;
    @apply bg-cover;
    @apply bg-center;
    @apply bg-no-repeat;

    &__wrap {

     &--title {

        h1 {

            @apply text-2xl;
            @apply lg:text-3xl;
            @apply uppercase;

        }

     }   

     &--subheader {

        p {

            @apply text-lg;
            @apply md:text-xl;
            @apply lg:text-xxl;
            @apply w-full;
            @apply lg:w-3/4;
            @apply mx-auto;

        }

     }


    }

}

.h__secondary_hero {

    height: 75vh;

    @media only screen and (max-width: 767px) {

        height: 550px;

    }

    &__wrap {

        &--right {

            img {

                @apply rounded-xl;

                @media only screen and (max-width: 767px) {

                    max-width: 300px;

                }

            }

        }

    }

}

.h__small_hero {

    height: 50vh;
    
}