.m__nav{

    li::before {
        display: none;

    }

    &#nav-main {

        @media only screen and (max-width: 767px) {
        
            height: 100vh;

        }

    }
    &__wrap{

    }
    &__item{

        a{
            @apply text-white;
            &:hover {

                @apply underline;
                @apply decoration-green;
                @apply decoration-2;
                transition: none;

            }
        }
        &.current {
            .m__nav__item-sub a {
                @apply underline;
                @apply decoration-green;
                @apply decoration-2;
            }
        }
        .subnav {

            border-top: 3px solid #32FC00;
            @apply bg-black;
            @apply absolute;
            z-index: 11111;
            @apply p-0;
            left: 0;
            right: 0;
            bottom: -78px;
            @apply p-2;

            @media only screen and (max-width: 767px) {
        
                height: 100vh;
                width: 100vw;
                top: 0;
                left: 0;
                border-top: none;
    
            }

            label {

                @media only screen and (max-width: 767px) {

                    @apply pl-8;
                    @apply text-white;
                    @apply font-bold;

                    &::before {

                        content: '<-';
                        @apply mr-4;

                    }

                }

            }

            .subnav__terms {
    
                @apply p-0;
                @apply m-0;
                @apply flex;
                @apply justify-evenly;
                @apply items-center;
                @apply flex-row;

                @media only screen and (max-width: 767px) {

                    @apply flex-col;
                    @apply items-start;
                    @apply justify-evenly;

                }


                li {

                    @apply m-0;
                    @apply py-4;
                    @apply px-8;

                }

            }

        }
    }
    &__item + &__item{
        @apply ml-10;
    }
}

@media only screen and (max-width: 767px) {

    .m__nav {

        @apply absolute;
        @apply w-full;
        @apply h-full;
        @apply left-0;
        @apply top-0;
        @apply bg-black;
        z-index:11;

        &__wrap {

            @apply flex-col;
            @apply mt-20;

        }
        &__item {

            @apply ml-10;

            &.current {

                @apply ml-10;

            }

        }
        
    }
    .hamburger {

        z-index: 111;

        span.line {

            @apply bg-white;
            @apply w-[30px];
            @apply h-[3px];
            @apply block;
            border-radius: 5px;
            @apply my-2;
            @apply relative;
            transition: transform 0.3s;


        }

        .top.active {
            transform: translateY(11px) rotate(45deg);
        }
        
        .middle.active {
            opacity: 0;
        }
        
        .bottom.active {
            transform: translateY(-11px) rotate(-45deg);
        }
        
        

    }

}