<div class="n__blog_full_width_text {{ content.padding ? content.top_padding ~ ' ' ~  content.bottom_padding }}">
    <div class="container mx-auto px-4">
        <div class="n__blog_full_width_text--content">
            {{ content.copy }}
        </div>
    </div>
</div>