<div class="n__blog_full_width_image {{ content.padding ? content.top_padding ~ ' ' ~  content.bottom_padding }}">
    <div class="container mx-auto px-4">
        <div class="n__blog_full_width_image__wrapper w-full">
            <img src="{{ content.blog_image.url }}" alt="{{ content.blog_image.alt }}">
        </div>
    </div>
</div>