h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5{
    @apply text-black;
    @apply font-medium;
    display: block;
}

h1{
    @apply text-2xl;

    @media only screen and (max-width: 767px){
        @apply text-xl;
    }
}

h2, .h2{
    @apply text-xl;

    @media only screen and (max-width: 767px){
        @apply text-lg;
    }
}

h3{
    @apply text-lg;

    @media only screen and (max-width: 767px){
        @apply text-base;
    }
}

h4{
    @apply text-md;

    @media only screen and (max-width: 767px){
        @apply text-base;
    }
}
li {
    list-style-type: none;
    list-style: none;
    @apply relative;
    @apply ml-12;
}
li::before {
    content: '';
    background-image: url('../images/brain.svg');
    @apply absolute;
    left: -3rem;
    width: 33px;
    height: 27px;
    @apply bg-cover;
}