<div class="m__stats_blocks {{ content.padding ? content.top_padding ~ ' ' ~  content.bottom_padding }}">
    <div class="container mx-auto px-4">
        <div class="m__stats_blocks__wrapper w-full flex flex-col justify-evenly items-start mx-auto">
            <div class="m__stats_blocks__wrapper__content grid grid-cols-1 md:grid-cols-3 gap-4 lg:gap-16 w-full">
                {% for section in content.stats %}
                    <div class="m__stats_blocks__wrapper__content--individual flex justify-center flex-col items-center text-center mx-auto w-full {% if loop.index == 1 %} circle {% elseif loop.index == 2 %} rounded-xl {% elseif loop.index == 3 %} circleSquare {% endif %}">
                        {% if section.stat %}
                            <h4 class="my-4">{{ section.stat }}</h4>
                        {% endif %}
                        {% if section.description %}
                            <p class="mt-4 mb-8">{{ section.description }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>