{% if content.posts|length %}
    <div class="m__posts {{ content.add_padding ? content.top_padding ~ ' ' ~  content.bottom_padding }}">
        <div class="container mx-auto px-4">
            {% if content.title|length %}
                    <div class="w-full">
                        <h2 class="m__news__title mb-8 text-center">{{ content.title }}</h2>
                    </div>
            {% endif %}
            <div class="selected__news grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
                {% for post in content.posts %}
                    {% include ['partials/tease-'~post.post_type~'.twig', 'tease.twig'] %}
                {% endfor %}
            </div>
            <div class="w-full flex mt-8 justify-center">
                {{ all_news ? '<a href="'~ all_news ~'" class="m__news__all cta--text">' ~ __('View all articles', 'cg-theme') ~ '</a>' }}
            </div>
        </div>
    </div>
{% endif %}