a{
    transition: all 0.3s ease-in-out;

    &::before{
        transition: all 0.3s ease-in-out;
    }

    &:hover{
        transition: all 0.3s ease-in-out;

        &::before{
            transition: all 0.3s ease-in-out;
        }
    } 

}